html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

/* 헤더 */
header{
    width: 100%;
    height: 80px;
}
.header{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 메인페이지 */
.icon{
    margin: 30px;
    display: inline-flex
}

/* 메뉴 */
.menu{
    display: flex;
    
}

.menuul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.menuli{
    display: inline-flex;
    margin-right: 60px;
    font-size: larger;
}

a:hover{
    text-decoration: underline;
}

/* 헤더 로그인, 회원가입 */
.loginsignup, .login, .signup{
    margin: 10px;
    font-size: large;
    font-weight: bolder;
    display: flex;
    width: 250px;
}

/* 링크 */
a{
    text-decoration: none;
    color: black;
}

/* 사이드 메뉴 */
article{
    float: left;
    width: 15%;
    height: 100%;
}

#sidemenu{
    
    width: 100%;
    height: 100%;
    border-right: 1px solid;
}

#sidemenutitle{
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    
}

details{
    padding: 30px;
}


/* 본문 */

section{
    float: left;
    width: 85%;
    height: 100%;
    
}


