html, body{
    margin: 0;
    padding: 0;
    
}

/* 헤더 */
.header{
    height: 80px;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 메인페이지 */
.icon{
    margin: 30px;
    display: inline-flex
}


/* 메뉴 */
.menu{
    display: flex;
    
}

.menuul{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.menuli{
    display: inline-flex;
    margin-right: 60px;
    font-size: larger;
}

.menuli:hover{
    text-decoration: underline;
}

/* 헤더 로그인, 회원가입 */
.loginsignup, .login, .signup{
    margin: 10px;
    font-size: large;
    font-weight: bolder;
    display: flex;
    width: 250px;
}

/* 링크 */
a{
    text-decoration: none;
    color: black;
}


/* 리모컨 */
.control1{
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    text-align: center;
    line-height: 45px;
    font-size: x-large;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 1;
}

.control2{
    width: 50px;
    height: 50px;
    background-color: cornflowerblue;
    text-align: center;
    line-height: 45px;
    font-size: x-large;
    position: fixed;
    right: 65px;
    bottom: 10px;
    z-index: 1;
}

/* main 목차*/
main{
    margin: 50px;
    
}

#maintitle{
    font-size: 80px;
    text-shadow: 5px 5px 15px black;
}

.mokcha{
width: 300px;
border: 1px solid;
font-size: larger;
}

.mokchalink{
text-decoration: underline;
color: blue;
}

/* main 본문 */
.Ftype, .Rtype, .cc{
position: relative;
left: 40px;
}

span{
font-weight: bold;
}