{{>layouts/top}}
<form action="/articles/create" method="post">
    <input  name="input1" type="text">
    <input name="input2" type="textarea">
    <button type="submit">제출</button>
</form>

{{>layouts/bottom}}